/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700");

/* Styles */

body {
	background: #ffffee;
	color: #292f36;
	margin: 0;
	border: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

::selection {
	background: #292f36;
	color: #ffffee;
}

a {
	color: #292f36;
	text-decoration: none;
	text-decoration-skip-ink: none;
}

a.link,
a.link-2,
a.link-3 {
	transition: text-decoration-color 0.5s, background-color 0.5s;
	text-decoration: underline;
}

a.link:hover,
a.link-2:hover,
a.link-3:hover,
a.link:focus,
a.link-2:focus,
a.link-3:focus {
	text-decoration-color: transparent;
}

a.link {
	text-decoration-color: #4ecdc47f;
}

a.link:hover,
a.link:focus {
	background-color: #4ecdc47f;
}

a.link-2 {
	text-decoration-color: #ff6b6b7f;
}

a.link-2:hover,
a.link-2:focus {
	background-color: #ff6b6b7f;
}

a.link-3 {
	text-decoration-color: #ffe66d7f;
}

a.link-3:hover,
a.link-3:focus {
	background-color: #ffe66d7f;
}

a#download-link {
	font-family: "Roboto Slab";
	letter-spacing: 0.025em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.box a {
	font-family: "Abril Fatface";
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	font-size: 128px;
}

h2 {
	font-size: 64px;
}

h3,
.box a {
	font-size: 48px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 16px;
}

p,
b {
	font-family: "Roboto Slab";
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
}

b {
	font-weight: 700;
}

ol {
	font-family: "Roboto Slab";
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	font-family: "Roboto Slab";
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
}

ul li::marker {
	color: #292f367f;
}

li {
	word-wrap: break-word;
}

li:not(.no-li-margin) {
	margin-bottom: 5px;
}

li::marker {
	font-weight: 700;
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 2px solid #292f367f;
	max-width: 1200px;
}

ol,
ul {
	max-width: 1160px;
}

.invert {
	color: #ffffee;
}

.invert::selection {
	background-color: #ffffee;
	color: #292f36;
}

.navbar {
	width: 100%;
	height: 60px;
	background: #292f36;
	position: fixed;
	top: 0;
	box-shadow: 0 0 10px 5px #ffffee;
	z-index: 2;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	padding-left: 40px;
}

.navbar-item {
	height: 60px;
	line-height: 60px;
	transition: color 250ms;
}

.navbar-item:first-child {
	display: flex;
	align-items: center;
	padding-right: 20px;
}

.navbar-icon {
	width: 40px;
	height: 40px;
}

.navbar-item-mobile {
	display: none;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 24px;
}

.navbar-item-mobile:hover,
.navbar-item-mobile:focus {
	cursor: pointer;
}

.navbar-item-mobile-2 {
	margin-bottom: 20px;
}

.navbar-item-mobile-2:nth-child(2) a,
.navbar-item-mobile-2:nth-child(3) a,
.navbar-item-mobile-2:nth-child(4) a {
	color: #ffffee;
	transition: color 250ms;
}

.navbar-item-mobile-2:nth-child(2) a:hover,
.navbar-item-mobile-2:nth-child(2) a:focus {
	color: #4ecdc4;
}

.navbar-item-mobile-2:nth-child(3) a:hover,
.navbar-item-mobile-2:nth-child(3) a:focus {
	color: #ff6b6b;
}

.navbar-item-mobile-2:nth-child(4) a:hover,
.navbar-item-mobile-2:nth-child(4) a:focus {
	color: #ffe66d;
}

.footer {
	width: 100%;
	height: 20px;
}

.middle {
	margin: auto;
	text-align: center;
}

.centre {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.box {
	width: 1000px;
	margin: 0 0 40px 40px;
	border: 5px solid #292f36;
	padding: 5px;
	display: grid;
	grid-template-columns: 140px auto;
}

.box-alt {
	gap: 15px;
	padding: 0;
	padding-right: 10px;
	position: relative;
}

.box-alt div {
	padding: 5px 0 0;
}

.box-icon {
	margin: auto 0 auto 10px;
	font-size: 80px;
}

.box-thing {
	background: #292f36;
	padding: 15px 5px 5px 15px;
}

.title {
	background-image: linear-gradient(90deg, #4ecdc47f, #4ecdc47f);
	background-position: 0 0.9em;
	background-repeat: repeat-x;
	display: inline;
}

.title-2 {
	background-image: linear-gradient(90deg, #ff6b6b7f, #ff6b6b7f);
}

.title-3 {
	background-image: linear-gradient(90deg, #ffe66d7f, #ffe66d7f);
}

.title-alt {
	margin-top: 5px;
}

.hoverable-title {
	transition: background-position 1s;
}

.hoverable-title:hover,
.hoverable-title:focus {
	background-position: 0 0em;
}

.box-subtitle {
	margin-bottom: 3px;
}

.box-subtitle i.fa-circle,
.blog-archive i.fa-circle {
	font-size: 8px;
	margin: 0 10px;
	translate: 0 -6px;
	opacity: 50%;
}

.box-subtitle br {
	display: none;
}

.box-subtitle-alt {
	margin-bottom: 8px;
}

.box-subtitle-alt > span {
	position: absolute;
	top: -22px;
	right: 30px;
	display: flex;
	gap: 10px;
}

.content {
	margin: 0 auto;
	max-width: 850px;
}

.content-alt {
	margin: 0;
	max-width: initial;
	padding: 0 60px;
}

.text {
	text-align: justify;
	max-width: 1200px;
}

.break {
	margin-top: 20px;
}

.bold {
	font-weight: 700;
}

.download-button {
	user-select: none;
	height: 40px;
	width: 250px;
	background-color: #292f36;
	margin-top: 40px;
}

.download-button,
.navbar {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.download-space {
	height: calc(100vh - 364px);
}

.space {
	height: calc(100vh - 232px);
}

.blog-line {
	height: 2px;
	width: 80px;
	background-color: #292f36;
	margin-top: 20px;
	margin-bottom: 30px;
}

.blog-image {
	width: 500px;
}

.big-picture {
	width: 640px;
}

.more-wrap {
	padding-left: 30px;
	padding-right: 30px;
}

.item1:hover,
.item1:focus {
	color: #4ecdc4;
}

.item2:hover,
.item2:focus {
	color: #ff6b6b;
}

.item3:hover,
.item3:focus {
	color: #ffe66d;
}

.content-end {
	margin-top: 10px;
	height: 30px;
}

.box-blog-text {
	padding-left: 10px;
}

.navbar-space {
	height: 120px;
}

.blog-archive:not(.blog-archive *) {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 60px auto;
}

.blog-archive span:not(.blog-archive-list-item, .blog-archive-list-marker, .new, .updated, .beta, .tag, .tooltip) {
	opacity: 50%;
}

.box-area .download-button {
	margin-left: 40px;
}

.icon-30 {
	margin-right: calc(50px - 30px);
}

.icon-27 {
	margin-right: calc(50px - 27px);
}

.icon-24 {
	margin-right: calc(50px - 24px);
}

.icon-21 {
	margin-right: calc(50px - 21px);
}

.icon-18 {
	margin-right: calc(50px - 18px);
}

.icon-15 {
	margin-right: calc(50px - 15px);
}

.blog-image-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 0 30px;
}

.notice {
	display: flex;
	align-items: center;

	position: fixed;
	bottom: 80px;
	left: 40px;

	padding: 0 10px 0 20px;
	min-height: 50px;
	height: fit-content;
	max-width: calc(100vw - 110px);
	background-color: #292f36;
}

.notice-x {
	color: #ffffee7f;
	margin-left: 20px;
	font-size: 18px;
	translate: 0 -12px;
	transition: color 0.5s;
}

.notice-x:hover,
.notice-x:focus {
	color: #ffffee;
	cursor: pointer;
}

.new,
.updated,
.beta,
.tag {
	position: relative;
	background-color: #292f36;
	border-radius: 5px;
}

.new {
	color: #4ecdc4;
}

.updated {
	color: #ffe66d;
}

.beta {
	color: #ff6b6b;
}

.tag {
	color: #ffffee;
}

.youtube-video {
	width: 640px;
	height: 360px;
}

.special-box {
	border: 2px solid #292f36;
	padding: 4px 0;
}

.half-opacity {
	opacity: 50%;
}

.highlighted {
	background-color: #292f3630;
}

.page-title {
	margin: 80px 0 40px 40px;
}

.page-title i {
	margin-left: 40px;
}

.subheading {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px 30px;
}

.search {
	position: absolute;
	top: 150px;
	right: 80px;
	margin: 0 0 30px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.search b:first-child {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.search-main input {
	width: 380px;
	height: 30px;

	margin: 0;
	border: 2px solid #292f367f;
	border-radius: 0;
	transition: border-color 250ms;
	padding: 5px;

	background-color: #ffffee;
	color: #292f36;

	font-family: "Roboto Slab";
	font-size: 24px;

	outline: none;
	caret-color: #292f36;
}

.search-main input::placeholder {
	color: #292f367f;
}

.search-main input:focus {
	border-color: #292f36;
}

.search-main div {
	display: inline-block;
}

.search-main b:first-child {
	margin-right: 10px;
}

.search-main b:last-child {
	margin-left: 10px;
}

.search-main b:last-child,
.search-tags p {
	color: #292f367f;
	transition: color 250ms;
}

.search-main b:last-child:hover,
.search-main b:last-child:focus,
.search-tags p:not(.search-tag-active):hover,
.search-tags p:not(.search-tag-active):focus {
	color: #292f36;
	cursor: pointer;
}

.search-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0 15px;
	line-height: 44px;
}

.search-tags p.search-tag-active {
	color: #292f36;
}

.search-no-results {
	line-height: 44px;
	max-width: 1200px;
}

.tooltip {
	display: none;
	position: fixed;
	z-index: 1;

	background-color: #292f36;
	padding: 2px 10px;
}

.download-button-group {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 40px;
}

.download-button-group .download-button {
	margin-top: 0;
}

.download-button-group .download-button:not(:first-child) {
	margin-left: 0;
}

.small-text {
	font-size: 16px;
}

.post-header {
	display: flex;
	justify-content: space-between;
}

.projects-colour {
	color: #4ecdc4;
}

.blog-colour {
	color: #ff6b6b;
}

.about-colour {
	color: #ffe66d;
}

.project-top-link:not(.project-top-link *) {
	display: grid;
	grid-template-columns: 40px auto;
}

.highlighted-box {
	display: grid;
	grid-template-columns: 60px auto;

	padding: 10px 15px 10px 10px;
}

.highlighted-box > :first-child {
	font-size: 32px;
}

.light-grey {
	background-color: #292f3630;
}

.dark-grey {
	background-color: #292f367f;
}

.red {
	background-color: #ff6b6b7f;
}

.yellow {
	background-color: #ffe66d7f;
}

.blue {
	background-color: #4ecdc47f;
}

.light-grey a {
	text-decoration-color: #ffffee;
}

.dark-grey a {
	text-decoration-color: #d7d8cb;
}

.red a {
	text-decoration-color: #ff6b6b;
}

.yellow a {
	text-decoration-color: #ffe66d;
}

.blue a {
	text-decoration-color: #4ecdc4;
}

.light-grey a:hover {
	background-color: #ffffee;
}

.dark-grey a:hover {
	background-color: #d7d8cb;
}

.red a:hover {
	background-color: #ff6b6b;
}

.yellow a:hover {
	background-color: #ffe66d;
}

.blue a:hover {
	background-color: #4ecdc4;
}

#download-link {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 40px;

	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-color: transparent;

	transition: text-decoration-color 0.5s;
}

#download-link:hover,
#download-link:focus {
	text-decoration-color: #ffffee;
}

#navbar-mobile {
	width: 100%;
	height: calc(100vh - 60px);
	background: #292f36;
	position: fixed;
	top: 60px;
	padding: 40px;
	z-index: 2;
	display: none;
}

#menu-open {
	color: transparent;
}

#menu-close {
	display: none;
	color: transparent;
}

#to_top_button {
	width: 50px;
	height: 50px;

	border-radius: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	right: 50px;
	bottom: 80px;

	font-size: 24px;

	background-color: #292f367f;
}

#to_top_button:hover {
	background-color: #292f36;
	cursor: pointer;
}

#to_top_button i {
	color: #ffffee;
}

/* Conditional Styles */

@media all and (max-width: 1650px) {
	.search {
		position: relative;
		top: 0;
		right: 0;
	}
}

@media all and (max-width: 1200px) {
	h1 {
		font-size: 64px;
	}

	h2 {
		font-size: 48px;
	}

	h3,
	.box a {
		font-size: 32px;
	}

	h4 {
		font-size: 24px;
	}

	h5 {
		font-size: 16px;
	}

	h6 {
		font-size: 12px;
	}

	.content {
		padding: 0 30px;
	}

	.space {
		height: calc(100vh - 243px);
	}

	.box {
		width: 800px;
		grid-template-columns: 120px auto;
	}

	.box-alt {
		height: 90px;
	}

	.box-icon {
		font-size: 60px;
	}

	.post-header span:last-child {
		display: none;
	}
}

@media all and (max-width: 950px) {
	.box-area {
		padding-left: 40px;
		padding-right: 40px;
	}

	.box {
		margin: 0 0 40px;
		width: calc(100% - 20px);
		grid-template-columns: none;
		grid-template-rows: 60px auto;
		gap: 30px;
		height: fit-content;
		padding-top: 20px;
	}

	.box-alt {
		width: calc(100% - 10px);
		gap: 10px;
		padding: 0;
	}

	.box-alt div {
		padding: 0 10px;
	}

	.box-thing {
		padding: 0 0 0 15px;
	}

	div.box p {
		margin: 10px 10px 10px 0;
	}

	.box-area .download-button {
		margin-left: 0;
	}

	.box-icon {
		font-size: 80px;
	}

	.box-subtitle-alt > span {
		top: -24px;
	}

	.box-subtitle-alt .new {
		border: 2px solid #4ecdc4;
	}

	.box-subtitle-alt .updated {
		border: 2px solid #ffe66d;
	}

	.box-subtitle-alt .beta {
		border: 2px solid #ff6b6b;
	}

	.box-subtitle-alt .tag {
		border: 2px solid #ffffee;
	}

	.box-subtitle-alt .new .tooltip {
		border: 2px solid #4ecdc4;
	}

	.box-subtitle-alt .updated .tooltip {
		border: 2px solid #ffe66d;
	}

	.box-subtitle-alt .beta .tooltip {
		border: 2px solid #ff6b6b;
	}

	.box-subtitle-alt .tag .tooltip {
		border: 2px solid #ffffee;
	}
}

@media all and (max-width: 700px) {
	.navbar {
		gap: 0;
	}

	.navbar-item {
		display: none;
		margin: 0;
		border: 0;
		padding: 0;
	}

	.navbar-item-mobile {
		display: contents;
	}

	.blog-image,
	.big-picture,
	.youtube-video {
		width: 100%;
	}

	.youtube-video {
		height: calc((100vw - 60px) / 16 * 9);
	}

	.page-title span:first-child {
		display: block;
		font-size: 36px;
	}

	.search-main input {
		width: 210px;
	}

	.highlighted-box {
		display: block;
		padding: 10px;
	}

	.highlighted-box > :first-child {
		margin-bottom: 5px;
	}

	#menu-open {
		color: #ffffee;
	}

	#menu-close {
		color: #ffffee;
	}
}

@media all and (max-width: 500px) {
	.box-subtitle i.fa-circle {
		display: none;
	}

	.box-subtitle br {
		display: block;
	}

	.box-subtitle span {
		opacity: 50%;
	}

	.search-main input {
		width: 145px;
	}
}

@media all and (max-width: 400px) {
	p,
	b,
	ol,
	ul {
		font-size: 18px;
	}

	.small-text {
		font-size: 14px;
	}

	.notice-x {
		translate: 0 -10px;
	}

	.blog-archive:not(.blog-archive *) {
		grid-template-columns: 40px auto;
	}

	.project-top-link:not(.project-top-link *) {
		grid-template-columns: 30px auto;
	}

	.blog-archive i.fa-circle {
		font-size: 6px;
		translate: 0 -5px;
	}

	.download-button:not(.download-button-long) {
		width: 200px;
	}

	.download-space {
		height: calc(100vh - 348px);
	}

	.icon-30 {
		margin-right: calc(40px - 22.5px);
	}

	.icon-27 {
		margin-right: calc(40px - 20.75px);
	}

	.icon-24 {
		margin-right: calc(40px - 18px);
	}

	.icon-21 {
		margin-right: calc(40px - 15.75px);
	}

	.icon-18 {
		margin-right: calc(40px - 13.5px);
	}

	.icon-15 {
		margin-right: calc(40px - 11.25px);
	}

	.search-main input {
		width: 160px;
		height: 24px;
		font-size: 18px;
	}

	.search-tags {
		line-height: 32px;
	}

	.search-no-results {
		line-height: 36px;
	}

	.box-subtitle-alt > span {
		top: -20px;
	}
}

@media all and (max-width: 320px) {
	.box-area {
		padding-left: 20px;
		padding-right: 20px;
	}

	.box {
		width: calc(100% - 20px);
	}

	.box-alt {
		width: calc(100% - 10px);
	}

	.page-title span:first-child {
		display: block;
		font-size: 24px;
	}
}

@media all and (max-width: 250px) {
	.search-main input {
		width: 115px;
	}
}

@media print {
	.navbar,
	.navbar-space {
		display: none;
	}
}
